* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(40deg, #191b6b 10%, #019dff 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: -100px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: azure;
  text-align: center;
  line-height: -2;
}
.text .one {
  font-size: 300px;
  letter-spacing: -10px;
}
.text .two {
  margin: -20px;
  margin-top: -80px;
}
.text .three {
  font-size: 40px;
  word-spacing: 30px;
}

@media (max-width: 500px) {
  .text {
    font-size: 50px;
  }
  .text .one {
    font-size: 100px;
    letter-spacing: -5px;
  }
  .text .two {
    margin: -20px;
    margin-top: -25px;
  }
  .text .three {
    font-size: 30px;
    word-spacing: 10px;
  }
}