* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(38deg, rgb(2, 0, 36) 0%, rgb(0, 125, 255) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background-color: yellow;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}